main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}

textarea {
    resize: none;
    padding: 2em;
    height: 100%;
}

.box-entrada {
    display: flex;
    margin: 1em;
    flex: 2 .2 35em;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
}

.botones  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 1.5em 0 1em 0;
}

.button {
    padding: 1em;
    width: 30%;
}

.box-salida {
    display: flex;
    padding: 1em;
    margin: 1em;
    flex: 1 .5 20em;
    flex-direction: column;
    justify-content: space-between;
}

.box-salida button {
    width: 50%;
    margin: 1.5em 0 1em 0;
    align-self: center;
}

#encriptar {

}

#desencriptar {

}

@media screen and (max-width:600px) {

    .box-entrada, .box-salida {
        flex-basis: 80%;
    }

    .box-entrada, .box-salida {
        margin-bottom: 0;
    }

    .button {
        padding: 1em;
        width: 100%;
        margin: 1em 0 1em 0;
    }

}